.login {
    height: 100%;
    width: 100%;
    background-color: #D7282F !important;
    position: fixed;
    left: 0;
    top: 0;
}

.back-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}

.login-background {
    background: rgba(255, 255, 255, 0.5);
    padding: 50px;
}