<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/inicio">
            <img src="https://assets.ferromex.mx/StyleFXE/2.2.0-RELEASE/assets/images/logotipos/logotipo-GM_white.svg" width="100px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">
                        Inicio
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <span class="navbar-text me-3" *ngIf="isLoggedIn$ | async"> 
                    {{ name$ | async}}
                </span>

                <span class="navbar-text me-auto" role="button">
                    <i class="fas fa-sign-out-alt fa-2x" (click)="onLogout()" *ngIf="isLoggedIn$ | async"></i>
                </span>
            </div>
        </div>
    </div>
</nav>